@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap&subset=cyrillic');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
}

#application {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.base {
  width: 800px;
}

.base td {
  height: 40px;
  border: 1px solid blue;
}

.cell {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cell-1 {
  background-image: url('~Static/icons/js.svg');
}

.cell-2 {
  background-image: url('~Static/icons/react.svg');
}

.cell-3 {
  background: blue;
}

.cell-4 {
  background: saddlebrown;
}

.cell-5 {
  background-image: url('~Static/icons/fire.svg');
}

.cell-6 {
  background-image: url('~Static/icons/react+js.svg');
}
