@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap&subset=cyrillic');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
}

#application {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.base {
  width: 800px;
}

.base td {
  height: 40px;
  border: 1px solid blue;
}

.cell {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &_1 { background-image: url('~Static/icons/js.svg'); }
  &_2 { background-image: url('~Static/icons/react.svg'); }
  &_3 { background: blue; }
  &_4 { background: saddlebrown; }
  &_5 { background-image: url('~Static/icons/fire.svg'); }
  &_6 { background-image: url('~Static/icons/js+react.svg'); }
  &_7 { background-image: url('~Static/icons/js+fire.svg'); }
}

.button {
  padding: 20px;
  background: red;

  &_start {
    background: chartreuse;
  }
}
