@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap&subset=cyrillic');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
  position: relative;
}

#application {
  min-height: 100vh;
  min-width: 100vw;
  background: #181a1b;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

img {
  display: none;
}

#canvas {
  border: solid 1px blue;
}

.base {
  width: 80%;

  &__container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.base td {
  height: 40px;
  border: 1px solid blue;
}

.cell {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &_2 { background-image: url('~Static/icons/bomb.svg'); }
  &_3 { background: blue; }
  &_4 { background: saddlebrown; }
  &_5 { background-image: url('~Static/icons/fire.svg'); }
  &_6 { background-image: url('~Static/icons/js+bomb.svg'); }
  &_7 { background-image: url('~Static/icons/js+fire.svg'); }
  &_8 { background: red; border: none !important; }
  &_9 { border: none !important; }
  &_10 { background-image: url('~Static/icons/ts+bomb.svg'); }
  &_11 { background-image: url('~Static/icons/ts+fire.svg'); }
  &_12 { background-image: url('~Static/icons/redux.svg'); }
  &_13 { background-image: url('~Static/icons/bomb_add.svg'); }
  &_14 { background-image: url('~Static/icons/fire_add.svg'); }
  &_15 { background-image: url('~Static/icons/react.svg'); }
  &_16 { background: saddlebrown url('~Static/icons/fire.svg') center no-repeat; }
  &_17 { background: blue url('~Static/icons/fire.svg') center no-repeat; }
  &_18 { background-image: url('~Static/icons/ts.svg'); }
  &_21 { background-image: url('~Static/icons/php.svg'); }
  &_22 { background-image: url('~Static/icons/php+fire.svg'); }
  &_23 { background-image: url('~Static/icons/php+bomb.svg'); }
  &_24 { background-image: url('~Static/icons/js.svg'); }
  &_25 { background-image: url('~Static/icons/redux.svg'); }
}

.menu {
  display: flex;
  flex-flow: column;
  align-items: center;

  &__item {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    button {
      margin-left: 20px;
    }

    p {
      color: whitesmoke;
      font-size: 14px;
    }
  }
}

.button {
  padding: 20px;
  background: red;

  &_start {
    background: chartreuse;
  }

  &_players {
    background: coral;
  }
}

.end_message {
  color: red;
  font-size: 36px;

  &__container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #181a1b;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
